{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}

<section style="padding: 20px; display: flex; flex-wrap: wrap; gap: 50px;">
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" width="350">
        {% else %}
        <img src="https://image.freepik.com/free-vector/flat-coming-soon-wallpaper_23-2148887719.jpg"
            class="card-img-top" alt="no-figure" width="350">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><b>{{ post.title }}</b></h5>
            {% if post.content %}
            <p class="card-text">{{ post.content|truncatewords_html:30 }}</p>
            {% else %}
            <p class="card-text">Post's description is empty</p>
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ post.author }}</li>
            <li class="list-group-item">{{ post.published_at|date:"d.m.Y" }}</li>
        </ul>
        <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Detailed information</a>
        </div>
    </div>
    {% empty %}
    <h3>No posts yet</h3>
    {% endfor %}
</section>
{% endblock %}